<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {% load static %}

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>CodeShare Dev</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'snippets/css/base.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'snippets/css/vendor.css' %}">
     --><link rel="stylesheet" href="{% static 'snippets/css/main.css' %}">

    <!-- Code mirror
    ================================================== -->
    <link rel="stylesheet" href="{% static 'snippets/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'snippets/theme/monokai.css' %}">
    <script src="{% static 'snippets/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'snippets/lib/codemirror.js' %}"></script>


    <!-- Google code-prettify
    ================================================== -->
    


    <!-- script
    ================================================== -->
    <script src="{% static 'snippets/js/modernizr.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header header">

        <div class="header__logo">
            <a class="logo" href="/snippets">

                <img src="{% static 'snippets/images/logo_cs.png' %}" alt="Homepage">
            </a>
        </div> <!-- end header__logo -->

        <a class="header__search-trigger" href="#0"></a>
        <div class="header__search">

            <form role="search" method="post" class="header__search-form" action="/snippets/search">
                {% csrf_token %}
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="" value="" name="search_term" title="Search for:" autocomplete="off">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>

            <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

        </div>  <!-- end header__search -->

        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">Navigate to</h2>

            <ul class="header__nav">
                <li class="current"><a href="/snippets" title="">Home</a></li>
                {% if user.is_authenticated %}



                <li class="has-children">
                    <a href="#0" title="">{{user.get_username}}</a>
                    <ul class="sub-menu">
                        
                        <li><a href="/snippets/profile/{{user.get_username}}">Profile</a></li>
                        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                        
                    </ul>
                </li>
                {% else %}
                <li class="current"><a href="{% url 'login'%}?next={{request.path}}" title="">Login</a></li>
                {% endif %}
                <li class="current"><a href="/snippets/newCodeSnippet" title="">New Article</a></li>
                <!-- <li class="has-children">
                    <a href="#0" title="">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="single-video.html">Video Post</a></li>
                        <li><a href="single-audio.html">Audio Post</a></li>
                        <li><a href="single-standard.html">Standard Post</a></li>
                    </ul>
                </li>
                <li><a href="style-guide.html" title="">Styles</a></li>
                <li><a href="page-about.html" title="">About</a></li>
                <li><a href="page-contact.html" title="">Contact</a></li> -->
            </ul> <!-- end header__nav -->

            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

        </nav> <!-- end header__nav-wrap -->

    </header> <!-- s-header -->


    <!-- featured 
    ================================================== -->
     <!-- end s-featured -->


    <!-- s-content
    ================================================== -->
    <br>
    <section class="s-content">
         <script src="{% static 'snippets/js/jquery-3.4.js' %}"></script>
        
        <div class="row entries-wrap wide">
            {% block newcode %}
            {% endblock %}
            
            <div class="entries" id="articles">
                
                {% block content %}
                {% endblock %}
        
            </div>


                <!-- <article class="col-block">
                    
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href="single-standard.html" class="item-entry__thumb-link">
                                
                            </a>
                        </div>
        
                        <div class="item-entry__text">    
                            <div class="item-entry__cat">
                                <a href="category.html">Design</a> 
                            </div>
    
                            <h1 class="item-entry__title"><a href="single-standard.html">3 Benefits of Minimalism In Interior Design.</a></h1>
                                
                            <div class="item-entry__date">
                                <a href="single-standard.html">June 15, 2018</a>
                            </div>
                        </div>
                    </div> 
                    

                </article> --> 
                <!-- end article -->

                

        </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->

        <!-- <div class="row pagination-wrap">
            <div class="col-full">
                <nav class="pgn" data-aos="fade-up">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div> -->

    </section> <!-- end s-content -->


    <!-- s-extra
    ================================================== -->
    <!-- <section class="s-extra">

        <div class="row">

            <div class="col-seven md-six tab-full popular">
                <h3>Popular Posts</h3>

                <div class="block-1-2 block-m-full popular__posts">
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="images/thumbs/small/tulips-150.jpg" alt="">
                        </a>
                        <h5>Popular articles should come here</h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0">Balayya</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2018-06-14">Jun 14, 2018</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="images/thumbs/small/wheel-150.jpg" alt="">
                        </a>
                        <h5><a href="#0">And I dont know how.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0">Lav</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2018-06-12">Jun 12, 2018</time></span>
                        </section>
                    </article>
                    
                </div> 
            </div> 


            <div class="col-four md-six tab-full end">
                <div class="row">
                    <div class="col-six md-six mob-full categories">
                        <h3>Categories</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Lifestyle</a></li>
                            <li><a href="#0">Travel</a></li>
                            <li><a href="#0">Recipes</a></li>
                            <li><a href="#0">Management</a></li>
                            <li><a href="#0">Health</a></li>
                            <li><a href="#0">Creativity</a></li>
                        </ul>
                    </div> 
                    end categories
        
                    <div class="col-six md-six mob-full sitelinks">
                        <h3>Site Links</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Home</a></li>
                            <li><a href="#0">Blog</a></li>
                            <li><a href="#0">Styles</a></li>
                            <li><a href="#0">About</a></li>
                            <li><a href="#0">Contact</a></li>
                            <li><a href="#0">Privacy Policy</a></li>
                        </ul>
                    </div> 
                    
                </div>
            </div>
        </div>

    </section> 
 -->
 
    <!-- s-footer
    ================================================== -->
    <!-- <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-six tab-full s-footer__about">
                        
                    <h4>About CodeShare</h4>

                    <p>Jai Balayya</p>

                </div> 

                

                </div> 

            </div>
        </div> 

        <div class="s-footer__bottom">
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                        <li>
                            <a href="#0"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span>
  made with <i class="fa fa-heart" aria-hidden="true"></i> by Pranav Devarakonda

</span>
                    </div>
                </div>
                
            </div>
        </div> 

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer>  -->


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'snippets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'snippets/js/jquery-3.4.js' %}"></script>
    <script src="{% static 'snippets/js/plugins.js' %}"></script>
    <script src="{% static 'snippets/js/main.js' %}"></script>

</body>

</html>