{% extends "snippets/base1.html" %}
{% load static %}



{% block content %}
	<!-- <div class="card">
	  <h5 class="card-header display-1 display-1--with-line-sep">{{code_object.title}}</h5>

	  <div class="card-body">
	   <h7 class="card-title">by {{code_object.author}}</h7>
	   <hr>
	    <p class="card-text" style="white-space: pre;">{{code_object.code_snippet}} </p>
	    
	    <hr>
	    {% if user.is_authenticated and user.get_username == code_object.author %}
	    	<a href="/snippets/edit/{{code_object.id}}" class="btn btn-primary">Edit</a>

	    {% endif %}
	  </div>

	</div> -->
	
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <style>

        .prettyprint ol.linenums > li { list-style-type: decimal; }
        pre.prettyprint {
    padding-left: 38px;
    border: 1px solid #888;
    color: black;
    }

    </style> 

	<article class="row entry format-standard">

            <div class="entry__media col-full">
                <div class="entry__post-thumb">
                    
                </div>
            </div>

            <div class="entry__header col-full">
                <h1 class="entry__header-title display-1">
                    {{code_object.title}}
                </h1>
                <ul class="entry__header-meta">
                    <li class="date">{{code_object.pub_date}}</li>
                    <li class="byline">
                        By
                        <a href="/snippets/profile/{{code_object.author}}">{{code_object.author}}</a>
                    </li>
                    <li class="date">Article code is {{code_object.id}}</li>
                </ul>
            </div>

            <div class="col-full entry__main">
            	<pre class="prettyprint linenums">
{{code_object.code_snippet}}
            	</pre>
            	
            </div>

            <hr>



		    {% if user.is_authenticated and user.get_username == code_object.author %}
		    	<a href="/snippets/edit/{{code_object.id}}" class="btn btn-primary">Edit</a>


		    {% endif %}

            

	</article>





{% endblock %}


{% block comment_section %}
<div class="comments-wrap">

            <div id="comments" class="row">
                <div class="col-full">
                    {% if comments_length == 0 %}
                        <label style='font-family: "Libre Baskerville" '>No comments as of now. Add one in appreciation of the author 🙃</label>
                        
                    {% else %}
                        {% if comments_length == 1 %}
                            <h3 class="h2">1 Comment</h3>
                        {% else %}
                            <h3 class="h2">{{comments_length}} Comments</h3>
                        {% endif %}
                    {% endif %}



                    <!-- commentlist -->
                    <ol class="commentlist">

                        {% for comment in comments %}

                        <li class="depth-1 comment">


                            <div class="comment__content">

                                <div class="comment__info">
                                    <h4><cite style="color: black">{{ comment.commentor}}</cite></h4>

                                    <div class="comment__meta">
                                        <time class="comment__time">{{comment.post_date}}</time>
                                        <!-- <a class="reply" href="#0">Reply</a> -->
                                    </div>
                                </div>

                                <div class="comment__text">
                                <p style="color:black">{{comment.comment_text}}</p>
                                </div>

                            </div>

                        </li>
                        <hr> 
                        {% endfor %}

                    </ol> <!-- end commentlist -->


                    <!-- respond
                    ================================================== -->
                    <div class="respond">

                        <h4><cite style="color: black">Add a comment</cite></h4>

                        <form name="contactForm" id="contactForm" method="post" action="">
                            <fieldset>

                                <div class="message form-field">
                                    <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
                                </div>

                                <button type="submit" class="submit btn--primary btn--large full-width">Submit</button>

                            </fieldset>
                        </form> <!-- end form -->

                    </div> <!-- end respond -->

                </div> <!-- end col-full -->

            </div> <!-- end row comments -->
        </div>
{% endblock %}