{% extends "snippets/base1.html" %}

{% block newcode %}


	<div class="comments-wrap ">

                <!-- START respond -->
                <div id="respond" class="col-full">

                    <h3 class="h2">Add Code <span>All fields are mandatory. Use a precise title</span></h3>

                    <form name="contactForm" id="contactForm" method="post" action="/snippets/submitNewCodeSnippet" autocomplete="off" class="needs-validation" novalidate="">{% csrf_token %}
                        <fieldset>

                            <div class="form-field">
                                <input name="title" id="title" class="full-width" placeholder="Title*" value="" type="text">
                            </div>

                            <!-- <div class="form-field">
                                <input name="cEmail" id="cEmail" class="full-width" placeholder="Your Email*" value="" type="text">
                            </div>

                            <div class="form-field">
                                <input name="cWebsite" id="cWebsite" class="full-width" placeholder="Website" value="" type="text">
                            </div> -->

                            <div class="message form-field">
                                <!-- <textarea name="code_snippet" id="code_snippet" class="full-width" placeholder="Your Code*" ></textarea> -->
                                
                            </div> 
                            <input type="hidden" name="username" id="username" value="{{user.get_username}}">

                            <textarea id='code_snippet'></textarea>
							<script>
									  var editor = CodeMirror.fromTextArea(document.getElementById('code_snippet'), {
									  	lineNumbers:true,
									  });

							</script>

                            <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large " value="Submit" type="submit">

                        </fieldset>
                    </form> <!-- end form -->

                </div>
                <!-- END respond-->

            </div> <!-- end comment-respond -->



        
	<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function() {
	  'use strict';
	  window.addEventListener('load', function() {
	    // Fetch all the forms we want to apply custom Bootstrap validation styles to
	    var forms = document.getElementsByClassName('needs-validation');
	    // Loop over them and prevent submission
	    var validation = Array.prototype.filter.call(forms, function(form) {
	      form.addEventListener('submit', function(event) {
	        if (form.checkValidity() === false) {
	          event.preventDefault();
	          event.stopPropagation();
	        }
	        form.classList.add('was-validated');
	      }, false);
	    });
	  }, false);
	})();
	</script>



{% endblock %}